target/
WebContent

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
logs/**/*
/src/test/java/YTCodeGenerator.java
YTMapperCommentGenerator.java
YTMapperPlugin.java
#/fabfile.py
fabfile.pyc
files
