<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingde.equipment.app.apply.dao.AmmoReceiveBatchInfoMapper">

    <insert id="insertByList">
        insert into t_ammo_receive_batch_info (apply_id, apply_type_id, firearm_type_id, firearm_type, ammo_type_id, ammo_type,received_ammo_count, receive_batch_id) values
        <foreach collection="list" open="" item="item" index="index" separator="," close="">
            (#{item.applyId},#{item.id},#{item.firearmTypeId},#{item.firearmType},#{item.ammoTypeId},#{item.ammoType},#{item.receivedAmmoCount},#{item.receiveBatchId})
        </foreach>
    </insert>

    <resultMap id="ammoReceiveBatchInfo" type="com.jingde.equipment.model.AmmoReceiveBatchInfo">
        <result column="id" property="id"/>
        <result column="apply_id" property="applyId"/>
        <result column="apply_type_id" property="applyTypeId"/>
        <result column="firearm_type" property="firearmType"/>
        <result column="firearm_type_id" property="firearmTypeId"/>
        <result column="ammo_type" property="ammoType"/>
        <result column="ammo_type_id" property="ammoTypeId"/>
        <result column="received_ammo_count" property="receivedAmmoCount"/>
    </resultMap>

    <select id="selectByBatchId" resultMap="ammoReceiveBatchInfo">
        select id,apply_id,apply_type_id,firearm_type,firearm_type_id,ammo_type,ammo_type_id,received_ammo_count from t_ammo_receive_batch_info where receive_batch_id = #{batchId}
    </select>
</mapper>
