<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingde.equipment.app.repair.dao.CleanLogMapper">

  <resultMap id="cleanLogVO" type="com.jingde.equipment.app.system.vo.clean.CleanLogVO">
    <result column="id" property="id"/>
    <result column="clean_person" property="name"/>
    <result column="clean_date" property="date"/>
    <result column="clean_situation" property="situation"/>
    <result column="note" property="notes"/>
    <result column="clean_status" property="state"/>
    <result column="clean_content" property="listDataJson"/>
  </resultMap>
    <update id="updateStatusById">
        update t_clean_log set status = #{dto.status}
          <if  test="dto.auditingReason != null and dto.auditingReason != ''">,auditing_reason = #{dto.auditingReason}</if>
          <if test="dto.auditingPerson != null and dto.auditingPerson != ''">,auditing_person = #{dto.auditingPerson},auditing_person_id = #{dto.auditingPersonId}</if>
        where id = #{dto.id}
    </update>

    <select id="findCleanLogList" resultMap="cleanLogVO">
    select
      tg.id,tg.clean_person,tg.clean_date,
      tg.clean_situation,tg.note,tg.clean_status,
      tg.clean_content
    from
      t_clean_log tg order by tg.id DESC
  </select>

   <select id="cleanStatusById" resultType="java.lang.String">
       select status from t_clean_log where id=#{id}
   </select>

</mapper>