<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jingde.equipment.app.police.dao.UnhealthyRecordMapper">

    <resultMap id="infoVo" type="com.jingde.equipment.app.police.vo.PoliceUnhealthyRecordVO">
        <result column="id" property="id"/>
        <result column="date" property="date"/>
        <result column="use_gun_status" property="useGunStatus"/>
        <result column="reason" property="reason"/>
        <result column="police_id" property="policeId"/>
        <result column="police_name" property="policeName"/>
        <result column="police_code" property="policeCode"/>
    </resultMap>

    <select id="findByPage" resultMap="infoVo">
       select pur.id,pur.date,pur.use_gun_status,pur.police_id,pur.reason,p.police_name,p.police_code
          from t_police_unhealthy_record pur
          LEFT JOIN t_police p on pur.police_id = p.id where police_id = #{policeId} order by pur.id desc
    </select>

    <insert id="add">
        insert into t_police_unhealthy_record(use_gun_status,date,reason,police_id) values (#{condition.useGunStatus},#{condition.date},#{condition.reason},#{condition.policeId})
    </insert>

    <select id="findOneById" resultMap="infoVo">
        select pur.id,pur.date,pur.use_gun_status,pur.reason,pur.police_id,p.police_name,p.police_code
          from t_police_unhealthy_record pur
          LEFT JOIN t_police p on pur.police_id = p.id where pur.id = #{id}
    </select>

    <select id="findByPoliceId" resultMap="infoVo">
      select id,date,use_gun_status,reason from t_police_unhealthy_record where police_id = #{policeId}
        <if test="reason != null and reason.length() > 0 and reason != '' ">
            <![CDATA[
				and instr(reason,#{reason}) > 0
				]]>
        </if>
    </select>

    <resultMap id="selectPageVo" type="com.jingde.equipment.app.system.vo.PolicePageVO">
        <result column="id" property="id"/>
        <result column="police_name" property="policeName"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="nation" property="nation"/>
        <result column="political_status" property="politicalStatus"/>
        <result column="police_code" property="policeCode"/>
        <result column="address" property="address"/>
        <result column="mobile" property="mobile"/>
        <result column="firearm_code" property="firearmCode"/>
        <result column="firearm_code_publish" property="firearmCodePublish"/>
        <result column="annual_verification" property="annualVerification"/>
        <result column="reason" property="reason"/>
        <result column="date" property="date"/>
    </resultMap>
    <select id="selectByPage" resultMap="selectPageVo">
        SELECT
        pur.id,p.police_name,p.sex,p.age,
        p.nation,p.job,p.political_status,p.police_code,
        p.address,p.mobile,p.firearm_code,p.firearm_code_publish,pur.reason,pur.date
      from t_police_unhealthy_record pur
      LEFT JOIN t_police p ON pur.police_id = p.id
      order by pur.id desc
    </select>



</mapper>